@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-text-color: #000;
  --body-background-color: #fff;
  --body-selection-color: #eee;
  --backgound-line-color: #f4f4f4;
  --header-height: 36px;
}

@layer base {
  html {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    color: var(--body-text-color);
    background-color: var(--body-background-color);
    overflow-x: hidden;
  }

  ::selection {
    color: var(--body-text-color);
    background: var(--body-selection-color);
  }
}

@layer utilities {
  .bg-line-pattern {
    background-image: linear-gradient(135deg, var(--backgound-line-color) 10%, #0000 0, #0000 50%, var(--backgound-line-color) 0, var(--backgound-line-color) 60%, #0000 0, #0000);
    background-size: 7px 7px;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .text-normalize {
    font-weight: inherit;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
